@page
@model IndexModel
@{
    ViewData["Title"] = "Loading...";
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="@Model.Seconds; url=@Model.NextUrl" />
    <title>@ViewData["Title"] - F-MCSC</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Fantasy_Minecraft_Server_Console.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
</head>
<body>
    <div class="grid d-flex justify-content-center align-items-center gap-3" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
        <div class="loader" />
        <div class="m-3 text-center fs-4" style="font-weight: bold;">Loading...</div>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

</body>
</html>
